body{
    font-size: 18px;
}


.button{
    background-color:#D67814;
    color: #FFFFFF;
    box-shadow: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

label{
    margin: 5px;
}

h3{
     color:#0B610B;
     font-size:24px;
     font-style:normal;
}

#body_wrapper{
    padding: 20px;
    position: relative;
    left: 30%;
    min-width: 620px;
}