body{
    background-color:#FFFFFF;
    font-family:Arial;
}

h3{
    color:#0B610B;
    display:inline-block;
    font-size:20px;
    font-style:normal;
    font-weight:normal;
}
section{
    border-bottom:1px dashed #0B610B;
    padding-bottom: 10px;
}

.menu-list:after{
    display:block;
    clear:both;
    content:"";
}   

.menu-wrap{
    width:100%;
    background:#9FF781;
    border-radius:10px;
    box-shadow: 0px 1px 2px rgba(0, 160, 20, 0.3);

}

.menu{
    display: block;
    width: 100%;
    margin: 0px auto;
}

.menu li{
    margin:0px;
    list-style:none;
    left:30%;
 }

.menu a{
    transition:all linear 0.15s;
    text-decoration:none;
    color:#0B610B;
}

.menu li:hover > a, .menu .current-item > a{
    text-decoration:none;
    background: #3C9849;
    color: #FFFFFF;
}

.menu .drop-down{
    line-height:0%
}

.menu > ul > li{
    float:left;
    display:inline-block;
    position:relative;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
 }

.menu > ul > li:hover > a, .menu > ul > .current-items > a{
    background:#3C9849;
    color: #FFFFFF;
}

.menu li:hover .sub-menu{
    z-index:1;
    opacity:1;
}

.sub-menu{
    width:100%;
    padding:0px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#9FF781;

 }

.sub-menu li{
    display:block;
    border-bottom:1px solid #3C9849;
 }

.sub-menu li a{
    padding: 10px 30px;
    display:block;
}

#items{
    display:block;
}



